* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box1 {
    padding-top: 120px;
    position: relative;
    /*relative กำหนดว่าตำแหน่งนี้เป็นตำแหน่งปัจจุบันของหน้าเว็บ ใช้กับ absolute,fixed*/
}

.img1 {
    background: #7c7a7a;
    height: 500px;
}

.live1 {
    color: white;
    background-color: red;
    font-size: 20px;
    padding: 8px 10px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.views1 {
    color: white;
    background-color: black;
    font-size: 20px;
    padding: 8px 10px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}





.top-menu {
    background-color: blue;
    padding: 20px;
    position: fixed; /*ล็อคตำแหน่ง*/
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

.box {
    position: relative;
    margin-top: 75px;
}

.img {
    background: #7c7a7a;
    height: 500px;
}

.live {
    color: white;
    background-color: red;
    font-size: 20px;
    padding: 8px 10px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.views {
    color: white;
    background-color: black;
    font-size: 20px;
    padding: 8px 10px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}